<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.barrierfree_feedback_system.mapper.FeedbackMapper">

    <resultMap id="feedbackInfo" type="com.example.barrierfree_feedback_system.bean.FeedbackInfo"/>

    <insert id="saveFeedbackInfo" parameterType="com.example.barrierfree_feedback_system.bean.FeedbackInfo" >
        insert into feedback_info(content, location, time, state)
        values (#{content},#{location},#{time},#{state})
   </insert>

    <select id="getFeedbackInfo" resultMap="feedbackInfo">
        select FeedbackId as id, FeedbackContent as content, FeedbackLocation as location, FeedbackTime as time, FeedbackState as state from feedback_info
    </select>

    <select id="getFeedbackInfoById" resultMap="feedbackInfo">
        select * from feedback_info where id = #{id}
    </select>

</mapper>